<!DOCTYPE html>
<html ng-app="frozenOstrichApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Frozen Ostrich</title>

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>

	<body>
		<div class="container-fluid" ng-controller="ProductListCtrl">
			<div class="row">
				<div class="col-md-2">
					Search: <input ng-model="query">
				</div>

				<div class="col-md-10">
					<ul ng-repeat="product in products | filter:query">
						<li>[{{product.code}}] {{product.name}}, available: {{product.inventory_count}}</li>
						<li>{{product.description}}</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="js/frozen_ostrich_ui.js"></script>
		<script src="//localhost:35729/livereload.js"></script>
	</body>
</html>

