<p>Detail view for <span>{{productCode}}</span>:</p>

<ul>
	<li>Code: {{product.code}}</li>
	<li class="product-name">Name: {{product.name}}</li>
	<li class="product-count">Available: {{product.inventory_count}}</li>
	<li class="product-description">Description:
		<p>{{product.description}}</p>
	</li>
</ul>

<div ng-controller="ProductEditCtrl">
	<button class="btn btn-primary" ng-click="editProduct()" ng-show="!editMode">Edit</button>

	<form novalidate class="simple-form">
		<div ng-show="editMode">
			New name: <input id="name-edit" type="text" ng-model="edited_product.name" ng-disabled="requestInProgress"/><br />
			New count: <input id="count-edit" type="text" ng-model="edited_product.inventory_count" ng-disabled="requestInProgress"/><br />
			New description: <textarea id="description-edit" ng-model="edited_product.description" ng-disabled="requestInProgress"></textarea><br />
		</div>

		<input type="button" class="btn btn-default" ng-click="cancelEdit()" ng-show="editMode" value="Cancel" ng-disabled="requestInProgress" />
		<input type="submit" class="btn btn-primary" ng-click="updateProduct(edited_product)" ng-show="editMode" value="Save" ng-disabled="requestInProgress" />
	</form>
</div>

<button class="btn btn-danger" data-toggle="modal" data-target="#delete-product-dialog">
	Delete this product
</button>

<div class="modal fade" id="delete-product-dialog" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Deleting product</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure?</p>
				<p>This action cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="deleting">Cancel</button>
				<button type="button" class="btn btn-danger" ng-click="deleteProduct()" ng-disabled="deleting">Delete</button>
			</div>
		</div>
	</div>
</div>


<a href="#/products">Go to product list</a>
